<h1>Sign Up Below:</h1>

<form method="post" action="/signup">
  <p>Name: <input type="text" id="user_name" name="user_name"></p>
  <p>Email: <input type="text" id="email" name="email"></p>
  <p>Password: <input type="text" id="text" name="password"></p>
  <input type="submit" id="submit" value="Sign Up">
</form>